.container {
  height: 576px;
  width: 700px;
  margin: auto;
}
section {
  border: 1px black solid;
  display: inline-block;
  margin-top: 100px;
}

footer {
  border: 1px black solid;
  height: 100px;
  margin-top: 130px;
}

.phone-image {
  height: 576px;
  width: 398px;
  float: left;
}
.signup-form {
  height: 396px;
  width: 278px;
  float: right;
}

.login{
  height: 78px;
  width: 278px;
  margin-top: 10px;
  float: right;
}
.logos {
  height: 78px;
  width: 278px;
  margin-top: 10px;
  float: right;
}

.signup-form, .login, .logos
{
  margin-left: 20px;
}
